<p><%= task_item.content %>  
    (<%= task_item.description %>)
    (Date: <%= task_item.date %>)
    (Priority: <%= task_item.priority %>)
<%= link_to "Edit", edit_task_list_task_item_path(@task_list, task_item.id) %>
<%= link_to "Delete",
    task_list_task_item_path(@task_list, task_item.id), method: :delete, data:
    { confirm: "Are you sure?" } %>
</p>